.container{
    background-color: #f0f0f0;
    margin: 50px auto;
}
.row{
    border: 1px solid yellow;
}
.col-md-10{
    height: 450px;
    overflow-y: auto;
}
#val{
    width: 100px;
}

input{
    width: 100%;
}
.bg-danger{
    background: yellow !important; 
}
